/* Contenitore principale per la ricerca utenti */
.search-user-container {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
    background-color: #34495e; 
    border-radius: 10px; 
    color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombra per profondità */
}

/* Titolo della sezione di ricerca */
.search-title {
    font-family: 'Bangers', cursive;
    font-size: 36px; 
    color: #ff0054; 
    text-align: center;
    margin-bottom: 20px; 
}

/* Stile per il form di ricerca */
.search-form {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}

/* Input di ricerca */
.search-input {
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    margin-right: 10px; 
}

/* Pulsante di ricerca */
.search-button {
    padding: 10px 20px; 
    background-color: #9a4ef0; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; /* Transizione per l'effetto hover */
    height: 45px; 
}

/* Effetto hover sul pulsante di ricerca */
.search-button:hover {
    background-color: #7d3ed2; /* Colore di sfondo al passaggio del mouse */
}

/* Messaggio di errore */
.error-message {
    color: #ff0054; 
    text-align: center; 
    margin: 10px 0; 
}

/* Lista degli utenti */
.user-list {
    list-style: none; 
    padding: 0; 
}

/* Elemento della lista utente */
.user-item {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
    padding: 10px; 
    background-color: #ffffff; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

/* Avatar dell'utente */
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px; 
}

/* Informazioni dell'utente */
.user-info {
    flex: 1; /* Occupare lo spazio disponibile */
    color: #34495e; 
}

/* Pulsante per visualizzare la libreria */
.view-library-button {
    background-color: #50c2c9; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    padding: 5px 10px; 
    transition: background-color 0.3s; /* Transizione per l'effetto hover */
}

/* Effetto hover sul pulsante della libreria */
.view-library-button:hover {
    background-color: #3bb5bc; /* Colore al passaggio del mouse */
}
