@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* Importa il font Righteous */

.blog-navbar-brand {
  width: 180px; /* Larghezza del logo */
}

.blog-navbar-title {
  color: white !important;
  font-weight: bold !important;
}

/* Navbar Styling */
.blog-navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background: var(--accent-color);
  color: white;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  font-family: 'Righteous', cursive;
  border-bottom: 2px solid rgba(80, 194, 201, 0.2);
}

/* Link nella Navbar */
.navbar-link {
  color: #ecf0f1; /* Azzurro brillante */
  font-weight: bold;
  padding: 0 12px;
  font-family: 'Righteous', cursive;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-decoration: none;
}

.navbar-link:hover {
  color:white; /* Tonalità più chiara dell'azzurro */
  text-decoration: underline;
}

/* Bottone Logout */
.logout {
  padding: 8px 16px;
  background-color: #e74c3c;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(231, 76, 60, 0.3);
}

.logout:hover {
  background-color: #c0392b;
  transform: scale(1.05);
  box-shadow: 0px 0px 12px rgba(192, 57, 43, 0.5); /* Effetto neon rosso */
}

/* Stile Avatar Utente */
.userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #50c2c9; /* Bordo azzurro neon */
  transition: transform 0.2s ease;
}

.userAvatar:hover {
  transform: scale(1.1); /* Leggera espansione al passaggio */
}
