@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* Importa il font Righteous */

.blog-navbar-brand {
  width: 180px; /* Larghezza del logo */
}

.blog-navbar {
  padding-top: 25px; /* Padding superiore */
  padding-bottom: 25px; /* Padding inferiore */
  background: linear-gradient(to bottom, #34495e, #2c3e50); /* Gradient della navbar */
  color: #ecf0f1; /* Colore del testo */
  -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1); /* Ombra per la navbar */
  -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1); /* Ombra per la navbar */
  box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1); /* Ombra per la navbar */
  font-family: 'Righteous', cursive; /* Applicare il font Righteous */
}

.blog-navbar-add-button {
  display: flex; /* Flex per allineare gli elementi */
  align-items: center; /* Allineamento verticale al centro */
  width: 100px; /* Larghezza del pulsante "New Post" */
  height: 50px; /* Altezza del pulsante */
  background-color: #3498db; /* Colore di sfondo per il pulsante "New Post" */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  text-decoration: none; /* Rimuove la sottolineatura */
  transition: background-color 0.3s; /* Transizione al passaggio del mouse */
}

.blog-navbar-add-button:hover {
  background-color: #2980b9; /* Colore di sfondo al passaggio del mouse */
}

.logout {
  width: 100px; /* Larghezza del pulsante di logout */
  height: 50px; /* Altezza del pulsante di logout */
  background-color: #e74c3c; /* Colore di sfondo per il pulsante di logout */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  transition: background-color 0.3s; /* Transizione al passaggio del mouse */
}

.logout:hover {
  background-color: #c0392b; /* Colore di sfondo al passaggio del mouse per il logout */
}

.userAvatar {
  width: 60px; /* Larghezza dell'avatar */
  height: 60px; /* Altezza dell'avatar */
  border-radius: 50%; /* Rende l'avatar circolare */
  right: 0px; /* Posizionamento a destra */
}

.navbar-link {
  color: #ecf0f1; /* Colore del testo per i link della navbar */
  text-decoration: none; /* Rimuove la sottolineatura */
  font-weight: bold; /* Grassetto */
  padding: 0 10px; /* Padding orizzontale */
  font-family: 'Righteous', cursive; /* Applicare il font Righteous ai link */
}

.navbar-link:hover {
  text-decoration: underline; /* Sottolinea al passaggio del mouse */
}
