.container-sm {
    padding-top: 110px !important;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


  .blog-main-title {
    font-family: 'Bangers', cursive;
    font-size: 48px;
    /* font-size: 3rem; */
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ff0054; /* Colore tipico per un effetto manga */
    
  }
  
  .blog-main-content {
    font-size: 1rem;
    font-style: italic;
  }

  .home-container {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Per gestire il pseudo-elemento */
  }
  
  .home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../backgroundImage/anime-crossover-ash-pokemon-asuna-yuuki-wallpaper-preview.jpg'); /* Immagine di sfondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px); /* Aggiunge la sfocatura */
    z-index: -1; /* Mette lo sfondo dietro il contenuto */
  }
  
